#posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.post-card{
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    margin: 5px;
    cursor: pointer;
}

.post-card:hover {
    box-shadow: 3px 3px 3px 3px gray;
}